@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Auto Car</h1>

    <p><a href="/Identity/Account/Register">Registre-se</a>&nbsp;ou&nbsp;<a href="/Identity/Account/Login">Fa&ccedil;a o seu login</a>&nbsp;para usar a rede social.</p>

    <p>Se for sua primeira vez aqui&nbsp;<a href="/Perfils/Create">Crie o seu perfil</a>. Se j&aacute; tiver uma conta veja os post ou poste&nbsp;<a href="/Posts">Aqui</a>.&nbsp; E comente&nbsp;<a href="/Comentarios">Aqui</a></p>


</div>
